* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.login-container {
  background-color: #41197f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-img {
  max-width: 200px;
  height: auto;
}

.login-form {
  background-color: #fff;
  max-width: 360px;
  border-radius: 8px;
  width: 90%;
}

.login-input {
  border: 2px solid #fcc436;
  border-radius: 4px;
  font-size: 16px;
}

.login-input::placeholder {
  color: #999;
}

button[type="submit"] {
  background-color: #fcc436;
  color: #41197f;
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  color: #666;
}

button[type="submit"]:hover:not(:disabled) {
  background-color: #e5b824;
}
