.recipe-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.2s;
}

.recipe-card:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.category-buttons .btn {
  margin-right: 10px;
}

.category-buttons {
  justify-content: center;
}
