.section {
  background-color: #f7f7f7;
}

h3 {
  color: #41197f;
}

.btn-warning {
  background-color: #fcc436;
  color: #41197f;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
}
