.recommended-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.recommended-card:hover {
  transform: scale(1.05);
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.start-btn {
  width: 100%;
  background-color: #007bff;
  color: #fff;
}

.border-dark {
  border: 1px solid black;
  border-radius: 10px;
}

.p-3 {
  padding: 3rem;
}
